<xcdrs-activity-size-detector></xcdrs-activity-size-detector>
<div
  fxFlex
  fxShow.xs
  fxShow.sm
  fxShow.gt-md
  fxShow.lt-xl
  fxShow.lg
  fxShow.lt-lg
  fxShow.md
  fxLayout="column"
  fxLayoutAlign="start stretch"
  class="close-dialog-container"
>
  <div class="cross-div"
    fxFlex="nogrow"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxHide.xs
    fxHide.sm
  >
    <mat-icon class="clickable cross" (click)="onNoClick()">close</mat-icon>
  </div>

  <div
    class="content"
    [ngClass]="{'xs': size =='XS', 'sm': size=='SM'}"
    fxFlex
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <h1 mat-dialog-title class="title">{{'Share-Activity-With' | translate}}</h1>
    <xcdrs-search-field (search)="onSearch($event)"></xcdrs-search-field>
    <div
            fxFlex
            fxLayout="column"
            fxLayoutAlign="space-around center"
            class="inner-spinner"
            *ngIf="isLoading"
          >
            <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <mat-card  fxFlex fxLayout="row"  fxLayoutAlign="start start" class="user-container reverse" *ngIf="!isLoading && dataLoaded && users.length>0  && !isSearchMode()">
        
            <span fxFlex=90 class="name">{{shareWithAllOpt.UserName | translate}}</span>
            <span 
            fxFlex="nogrow"
            fxLayout="row"
            fxLayoutAlign="end center" >
            <mat-checkbox class="all-checkbox" [(ngModel)]="isShareWithAllSelected" (change)="toggleAllSelection($event)"></mat-checkbox>
        </span>
       
    </mat-card>
    <div class="users-container" 
    fxFlex
    fxLayout="column"
    fxLayoutAlign="start stretch" *ngIf="!isLoading && dataLoaded && users.length>0 " >
        <mat-card *ngFor="let user of users"  fxFlex fxLayout="row"  fxLayoutAlign="start start" 
        class="user-container reverse">
        <ngx-avatar
        fxFlex="nogrow"
        name="{{user.UserName}}"
        [src]="user.UserPicture"
        initialsSize="2"
        bgColor="#00C853"
        fgColor="#FFFFFF"
        size="40"
        textSizeRatio="2.5"
        [round]="true"
      ></ngx-avatar>
    
      <p class="user-info" 
      fxFlex=75
      fxLayout="column"
      fxLayoutAlign="start stretch">
        <span class="name" [ngClass]="{'has-no-postion': user.Position == null}">{{user.UserName}}</span>
        <span *ngIf="user.Position!=null" class="position">{{user.Position}}</span>
      </p>
      <div 
        fxFlex="nogrow"
        fxLayout="row"
        fxLayoutAlign="end center" >
         <mat-checkbox [checked]="user.selected" [value]="user"(change)="toggleItem($event)" ></mat-checkbox>

      </div>


    </mat-card>
    
    </div>


    <div
    fxFlex
    fxLayout="column"
    fxLayoutAlign="start stretch"
    class="fill-bg"
    *ngIf="
      !isLoading &&
      dataLoaded &&
      !isError &&
      users.length === 0 &&
      !isSearchMode()
    "
  >
    <xcdrs-detailed-panel-placeholder
      [imagePath]="''"
      [title]="'No-Users-Available' | translate"
      [subTitle]="'It-Seems-No-Users-That-You-Can-Select-To-Share' | translate"
    >
    </xcdrs-detailed-panel-placeholder>
  </div>

  <div
    fxFlex
    fxLayout="column"
    fxLayoutAlign="start stretch"
    class="fill-bg"
    *ngIf="
      dataLoaded &&
      !isLoading &&
      isError &&
      users.length == 0
    "
  >
    <xcdrs-detailed-panel-placeholder
      [imagePath]="'../../../assets/images/ic_error.png'"
      [title]="'EMPTY-SCREEN.OOP-SOMETHING-WENT-WRONG' | translate"
      [subTitle]="'EMPTY-SCREEN.CHECK-YOUR-INTERNET-CONNECTION' | translate"
    >
    </xcdrs-detailed-panel-placeholder>
  </div>

  <div
    class="fill-bg"
    *ngIf="
      dataLoaded &&
      !isLoading &&
      !isError &&
      users.length === 0 &&
      isSearchMode()
    "
  >
    <xcdrs-detailed-panel-placeholder
      [imagePath]="'../../../assets/images/news-item/no-items.svg'"
      [title]="'User-Not-Found' | translate"
      [subTitle]="'Maybe-Your-Search-Was-Too-Specific' | translate"
    >
    </xcdrs-detailed-panel-placeholder>
  </div>
  
  </div>

  
  <div
  class="action-btns"
  fxFlex
  fxLayout="row"
  fxLayoutAlign="space-between center"
  [ngClass]="{'xs': size =='XS', 'sm': size=='SM'}"
>
  <button
    fxFlex="43"
    (click)="cancel()"
    class="action-btn cancel-btn"
    mat-stroked-button
    color="primary"
  >
    {{'CANCEL' | translate}}
  </button>
  <button
    fxFlex="54"
    (click)="submit()"
    [disabled]="selectedUsers.length==0"
    class="action-btn gradient-btn submit-btn"
    mat-flat-button
    color="primary"
  >
    {{'Share' | translate}}
  </button>
</div>
</div>

<!-- <div
  *ngIf="isLoading"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-around center"
  class="spinner-container"
>
  <mat-spinner></mat-spinner>
</div> -->
