<div class="loginPage">
  <div class="login-card">
    <div class="top-logo">
      <img src="/assets/images/logo-sm.png" alt="Logo" />
      <div class="text-green title">Engagement Pro</div>
    </div>
    <button class="defaultButton" (click)="onLoginClicked($event)">Login with Idenedi</button>

    <button class="defaultButton createNew" (click)="onOrganizationClicked($event)">Create New Organization</button>
  </div>
  <div class="bottomLine">
    Engagement Pro © Copyright 2021 All Rights Reserved.
    <span class="padl10">{{version}}</span>
  </div>
</div>
