@import 'src/assets/styles/css3-mixins.scss';

.change-state{width:700px;padding:12px 196px;box-sizing:border-box;
  @include respond-to(mobile){width: 100%;padding:0px;}
  .header{font-size: 18px;font-weight: bold;text-align: center;}
  .icon{padding:32px;text-align:center;
    img{width: 128px;height: 128px;}
  }
  .text-info{font-size: 16px;color: var(--black-grey-color);line-height: 22px;padding:12px 42px;text-align: center;
    @include respond-to(mobile){padding:12px}
  }
  .state-options{padding:24px 0;width: 100%;
    .mat-radio-group{width: 420px;display: flex;margin: 0 auto;    justify-content: space-between;}
    .mat-radio-button{padding:8px 12px;
      @include respond-to(mobile){width: 100%;}
    }
    .mat-form-field{padding-top:15px;padding-bottom: 13px;width:100%;}
    .mat-input-element{font-size: 16px;line-height: 1.5;font-weight: bold;}
  }
}
.state-buttons{display: flex;width:100%;box-sizing:border-box;justify-content:center;padding:16px 0 8px;
  button{line-height: 36px;padding:0 58px;font-weight: 400;background:#86C04F;
    @include respond-to(mobile){padding:0 24px;}
  }
  button.outlined{padding:0 32px;background: transparent;border-color: transparent;color: var(--grey-color);}
  button:first-child{margin-left:0;}
}
