

<div
fxFlex="nogrow"
fxLayout="row"
fxLayoutAlign="end center"
class="actions-menu-container clickable"
*ngIf="
  !!activity &&
 actions.length > 0 &&
 activity.appType !=2  && activity.appType !=3 
"
>
<button
  color="primary"
  [matMenuTriggerFor]="menu"
  class="actions-btn clickable mention-btn"
  (click)="$event.stopPropagation();"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" class="actions-menu">
  <span *ngFor="let action of actions; let last=last">
    <button
      mat-menu-item
      (click)="doAction(action)"
      [class.last]="last"
      *ngIf="action.isShow && action.name != 'logActual'"
    >

    <div *ngIf="action.label == 'Sign' && isSignature" class="icons-clickimg">
      <img src="../../assets/images/icon-other-signed.png" alt="sign-icon"> <span>{{ action.label | translate }}</span> 
    </div>

    <div *ngIf="action.label == 'Reject' && isSignature"  class="icons-clickimg">
      <img src="../../assets/images/icon-action-close.png" alt="close-icon"><span>{{ action.label | translate }}</span> 
    </div>

    <div *ngIf="action.label == 'Revoke' && isSignature"  class="icons-clickimg">
      <img src="../../assets/images/icon-action-undo.svg" alt="close-icon"> <span>{{ action.label | translate }}</span> 
    </div>

    <p *ngIf="!isSignature"> {{ action.label | translate }} </p> 
    </button>
  </span>
</mat-menu>
</div>

<div
fxFlex="nogrow"
fxLayout="row"
fxLayoutAlign="end center"
class="actions-menu-container clickable"
*ngIf="(activity.appType == 2 &&
  !activity.isCompleted &&
  !activity.isCancelled) || activity.appType == 3
"
>
<button
  color="primary"
  [matMenuTriggerFor]="menu"
  class="actions-btn clickable mention-btn"
  (click)="$event.stopPropagation();"
>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" class="actions-menu">
  <span>
    <button mat-menu-item (click)="doAction(editAction)" class="last">
      {{editAction.label | translate}}
    </button>
  </span>
</mat-menu>
</div>


