<div
  class="confirm-close-container"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-around center"
  *ngIf="!isLoading"
>
  <div class="activity-description">{{data.form.description}}</div>
  <div class="close-type">
    You have successfully logged efforts and actuals!
  </div>
  <div class="action-btn">
    <button
      fxFlex
      (click)="submit()"
      class="action-btn gradient-btn submit-btn"
      mat-flat-button
      color="primary"
    >
      Ok
    </button>
  </div>
</div>

<div
  *ngIf="isLoading"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-around center"
  class="spinner-container"
>
  <mat-spinner></mat-spinner>
</div>
