@import 'src/assets/styles/css3-mixins.scss';

.wrapper * {box-sizing: border-box;}
.wrapper{position: relative;margin-top: 126px;
  .top-header{display: flex;
    .project-area{min-width:680px;width:680px;border-right:1px solid #d5dce0;padding:13px 17px;font-size: 12px;color: #2b3443;
      .card{margin-top:4px;padding:10px 15px;box-shadow: none;}
      .first-line,.second-line{display: flex;align-items: center;flex-direction: row;}
      .second-line{padding-bottom:5px;}

      .date{flex:1;box-sizing: border-box;display:flex;
        label{color: #97a3a9;margin-right:5px;}
      }
      .revenuue{box-sizing: border-box;width:128px;display:flex;
        label{color: #97a3a9;text-align: right;flex:1;margin-right:5px;}
        span{width:42px;min-width:48px;}
      }
      .cost{box-sizing: border-box;width:148px;display:flex;
        label{color: #97a3a9;text-align: right;flex:1;margin-right:5px;}
        span{width:64px;
          .triangle{position: relative;display: inline;
            &:before{content:"\A";border-style: solid;border-width: 4px 6px 4px 0;border-color: transparent #ff005d transparent transparent;position: absolute;transform: rotate(90deg);top: 4px;left: 4px;
            }
          }
        }
      }
      .percentage{width:40px;box-sizing: border-box;padding-left:6px;
        &.issue{color:#ff005d;}
      }
      .requirement{flex:1;box-sizing: border-box;display:flex;
        label{color: #97a3a9;margin-right:5px;}
      }
      .signed{flex:1;box-sizing: border-box;display:flex;
        label{color: #97a3a9;margin-right:5px;}
      }
    }
    .platform-area, .options-area{display:flex;flex-direction: column;border-right:1px solid #d5dce0;
      .text{flex: 1;justify-content: center;align-items: center;display: flex;}
      .table-head{align-self: flex-end;display:flex;margin-top:auto;width: 100%;
        .th-item{flex: 1;text-align:center;border-right:1px dashed #d5dce0;padding:10px 0;width:154px;
          &:last-child{border:none;}
        }
      }
    }
    .options-area{flex:1;border:none;
      .table-head .th-item{border:none;flex:none;padding:10px 8px;text-align:left;
        &.req{width:64px;}
        &.effort{width:64px;}
        &.options{min-width:36px;flex:1;width:auto;}
      }
    }
  }
  .content-area{background-color: #f9fafd;padding-bottom:96px;
    .add-row{flex-direction:row !important;height:40px;background-color: #fff;padding: 9px 30px;color:var(--grey-color);cursor:pointer;
      mat-icon {display:inline-block;font-size: 22px;}
      span{font-size: 14px;margin: 5px 8px;}
      &:hover{color: var(--primary-color);}
    }
    .accordion-row{display: flex;flex-direction:column;border-bottom:1px solid #d5dce0;@include transition(all cubic-bezier(0.800, 0.220, 0.310, 0.800) 0.3s);
      .requirement-row{display: flex;height:36px;align-items:center;
        & .project-area, .platform-area, .options-area{background-color: #fff;}
      }
      .deliverable-row{align-items:center;display: none;@include transition(all cubic-bezier(0.800, 0.220, 0.310, 0.800) 0.5s);}
      &.active{
        .arrow-icon{transform: rotate(-90deg) !important;margin: 0px 4px 0 -4px;}
        .deliverable-row{display: flex;border-top:1px solid #d5dce0;
          .tr-text{font-weight: normal;}
          .pa-item.with-icons{padding:10px 16px;display: flex;align-items:center;color: #2b3443;font-weight:normal;
            .per{width:40px;}
          }
        }
      }
    }
    .triangle{position: relative;display: inline;
      &:before{content:"\A";border-style: solid;border-width: 4px 6px 4px 0;border-color: transparent #ff005d transparent transparent;position: absolute;transform: rotate(90deg);top: 4px;left: 4px;
      }
    }

    .planned-icon{width:18px;height:18px;background-image: url('/assets/images/Indicator_Planned_Not Planned.svg');margin:0 4px;
      &.planned{background-image: url('/assets/images/Indicator_Planned_Started.svg');}
      &.warning{background-image: url('/assets/images/Indicator_Planned_Planned with Issues.svg');}
      &.completed{background-image: url('/assets/images/Indicator_Planned_Completed Successfully.svg');}
      &.warning.completed{background-image: url('/assets/images/Indicator_Planned_Completed with Issues.svg');}
    }
    .actual-icon{width:18px;height:18px;background-image: url('/assets/images/Indicator_Actual_Not Started.svg');margin:0 4px;
      &.planned{background-image: url('/assets/images/Indicator_Actual_Activities Started.svg');}
      &.completed{background-image: url('/assets/images/Indicator_Actual_Completed Successfully.svg');}
      &.warning{background-image: url('/assets/images/Indicator_Actual_Completed with Issues.svg');}
    }
    .tick-icon{width:18px;height:18px;background-image: url('/assets/images/requirement-tick.svg');margin:0 4px;background-repeat: no-repeat;background-position: 0px;
      &.completed{background-image: url('/assets/images/indicator-planned-completed.svg');}
    }
    .project-area{min-width:680px;width:680px;border-right:1px solid #d5dce0;padding:8px 17px;font-size: 12px;color: #2b3443;height:36px;display:flex;align-items:center;
      .tr-icon{width:140px;display: flex;
        .arrow-icon{position: relative;transform: rotate(90deg);cursor: pointer;@include transition(all cubic-bezier(0.800, 0.220, 0.310, 0.800) 0.5s);height: 18px;width: 18px;
          svg{color:#97a3a9;}
        }
        .stats-icon{width:32px;margin:0 4px;}
        .requirement-icon{width:14px;height:14px;margin:2px 4px;}
      }
      .tr-text{flex:1;font-size: 14px;font-weight: 500;color: #2b3443;
        img{width: 16px;margin-right: 10px;vertical-align: bottom;}
      }
      .tr-info{width:315px;display:flex;color: #97a3a9;
        label{margin-right:3px;}
        .budget{width:96px;text-align: right;font-weight: 500;}
        .cost{display:flex;width: 130px;
          .planned{width:65px;text-align: right;}
          .actual{text-align: right;width:65px;}
        }
      }

    }
    .platform-area{display:flex;flex-direction: row;border-right:1px solid #d5dce0;
      .pa-item{flex: 1;border-right:1px dashed #d5dce0;padding:10px 20px;font-size: 12px;font-weight: 500;color: #97a3a9;width:154px;height: 36px;
        &:last-child{border:none;}
      }
    }
    .options-area{flex:1;border:none;display:flex;flex-direction: row;width:450px;border-right:1px solid #d5dce0;font-size: 12px;
      .pa-req{width:64px;padding:10px;color: #97a3a9;height: 36px;}
      .pa-efforts{width:64px;padding:10px;color: #97a3a9;height: 36px;}
      .pa-options{min-width:36px;flex:1;text-align: right;padding:10px;height: 36px;
        img{}
      }
      &:last-child{border:none;}
    }
  }
}
