<xcdrs-activity-size-detector></xcdrs-activity-size-detector>
<div
  fxFlex
  fxShow.xs
  fxShow.sm
  fxShow.gt-md
  fxShow.lt-xl
  fxShow.lg
  fxShow.lt-lg
  fxShow.md
  fxLayout="column"
  fxLayoutAlign="start stretch"
  class="dialog-container"
  *ngIf="dataLoaded"
>
  <div class="cross-div"
    fxFlex="nogrow"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxHide.xs
    fxHide.sm
  >
    <mat-icon class="clickable cross" (click)="onNoClick()">close</mat-icon>
  </div>

  <div
    class="content"
    [ngClass]="{'xs': size =='XS', 'sm': size=='SM'}"
    fxLayout="column"
    fxLayoutAlign="start stretch"
  >
    <h1 mat-dialog-title class="title">
      {{'Link-To-Account' | translate}}
    </h1>

    <form
      [formGroup]="form"
      class="form"
      fxLayout="column"
      fxLayoutAlign="start stretch"
      [ngClass]="{'xs': size =='XS', 'sm': size=='SM'}"
    >
      <p class="desc">
       {{ 'Enter-The-Exact-URL' | translate }}
      </p>
      <mat-form-field class="custom link-field">
        <!-- <mat-label>URL</mat-label> -->
        <input
        type="text"
        name="accountLink"
        matInput
        formControlName="accountLink"
        id="accountLink"
        placeholder="{{'URL' | translate}}"
        required
      />
      <span fxFlex="nogrow" class="material-icons"> link </span>
      <mat-error
      *ngIf="form.get('accountLink').errors?.required && form.get('accountLink').touched"
      class="invalid"
    >
    {{'It-Is-Required-Field' | translate}}
    </mat-error>
      </mat-form-field>
    </form>
    <div
      class="action-btns"
      fxFlex
      fxLayout="row"
      fxLayoutAlign="space-between center"
      [ngClass]="{'xs': size =='XS', 'sm': size=='SM'}"
    >
      <button
        fxFlex="43"
        (click)="cancel()"
        class="action-btn cancel-btn"
        mat-stroked-button
        color="primary"
      >
        {{'CANCEL' | translate}}
      </button>
      <button
        fxFlex="54"
        (click)="submit()"
        class="action-btn gradient-btn submit-btn"
        mat-flat-button
        color="primary"
        [disabled]="form.invalid"
      >
        {{'NEXT' | translate }}
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="isLoading"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-around center"
  class="spinner-container"
>
  <mat-spinner></mat-spinner>
</div>
