@import "../../../../theme/styles/variables";
@import "../../../../theme/styles/mixins";

.followed-user-details-container {
  xcdrs-breadcrumbs {
    margin: 24px auto;
  }
  .followed-user-main-info {
    mat-card {
      margin-bottom: 24px;
      mat-card-content {
        margin-bottom: 0px;
        ngx-avatar {
          margin-right: 24px;
        }
        .position {
          text-transform: capitalize;
          font-size: $f14;
          color: $sub-title-color;
        }
        .counter-container {
          p {
            margin-right: 64px;
            margin-bottom: 0px;
            &.last {
              margin-right: 16px;
            }

            mat-label {
              font-size: $f14;
              color: $sub-title-color;
              margin-left: 2px;
            }
            .counter {
              font-size: $f14;
              font-weight: bold;
              color: $main-color;
            }
          }
        }
        .user-info {
          margin-bottom: 0px;
          .user-group-label {
            font-size: $f24;
            font-weight: 800;
            color: $main-color;
          }
        }

        &.xs,
        .sm {
          ngx-avatar {
            margin-right: 17px;
          }
          .counter-container {
            p {
              margin-top: 12px;
              margin-right: auto;
              &.last {
                margin-right: 0;
              }
            }
          }

          .user-group-label {
            font-size: $f18;
            margin-bottom: 0px;
            mat-label {
              font-size: $f16;
              margin-top: 4px;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  .mine-activities-conatiner {
    .fill-bg {
      background-color: white;
      border-radius: 5px;
      height: 450px;
      @include flex-center;
    }

    .actions-container {
      margin-bottom: 12px;
      xcdrs-search-field {
        width: 100%;
        max-width: 320px;
      }
      .defult-filter {
        background-color: $primary-color;
        border-radius: 21px;
        padding: 4px 4px;
        font-size: 10px;
        position: relative;
        top: -4px;
        right: -39px;
        height: 8px;
      }
      .filter-icon-container,
      .more-icon-container {
        cursor: pointer;
      }

      .filter-icon-container {
        margin: 10px 8px 0px 16px;
        &.disabled {
          pointer-events: none;
          opacity: 0.5;
        }
      }

      .more-icon-container {
        margin: 5px 0px 0px 0px;
        color: $gray;
      }
    }

    .filter-container {
      width: 100%;

      .filter-list {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 4px 0 12px 0;
        padding: 0;
        list-style: none;

        .filter-list-item {
          height: 24px;
          display: flex;
          align-items: center;
          padding: 4px 8px;
          margin-bottom: 8px;
          margin-right: 8px;
          border-radius: 4px;
          background: $primary-color;
          color: white;
          font-size: $f14;
          font-weight: normal;

          .icon-close {
            margin-left: 4px;
            cursor: pointer;
          }
        }

        .clear-filter-item {
          height: 24px;
          line-height: 24px;
          font-size: $f16;
          font-weight: 600;
          margin-left: 16px;
          color: $primary-color;
          cursor: pointer;
        }
      }
    }

    ::ng-deep .mat-expansion-panel-body {
      padding: 0px;
    }
    .view-toggle-btns-container {
      .btns-container {
        margin: 16px 0px;
        .list-view-btn {
          width: 179px;
          height: 32px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border: solid 1px #d6d6d6;
          vertical-align: middle;
          text-align: center;
          line-height: 32px;
          background: white;
          color: $primary-color;
          font-size: $f14;
          font-weight: bold;
          font-stretch: normal;
          cursor: pointer;
        }
        .graph-view-btn {
          width: 179px;
          height: 32px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border: solid 1px #d6d6d6;
          vertical-align: middle;
          text-align: center;
          line-height: 32px;
          background: white;
          color: $primary-color;
          font-size: $f14;
          font-weight: bold;
          font-stretch: normal;
          cursor: pointer;
        }
        .active {
          background: $primary-color;
          color: white;
        }
      }
    }
    .week-card {
      padding: 16px 24px 24px 24px;
      .week-name {
        font-size: $f14;
        text-transform: capitalize;
      }

      .week-start-end-dates {
        font-size: $f18;
        font-weight: bold;
        margin-bottom: 16px;
        margin-top: 10px;
      }

      .week-data {
        margin: 4px 0px;
        .efforrs,
        .activities,
        .overdue {
          mat-label {
            font-size: $f14;
            text-transform: capitalize;
            margin-right: 12px;
          }
          .efforts-val,
          .activities-val,
          .overdue-val {
            width: 60px;
            max-width: 60px;
            min-width: 60px;
            margin-right: 34px;
            display: inline-block;
          }
        }

        .efforrs span {
          color: $primary-color;
          font-size: $f14;
          font-weight: bold;
        }

        .activities span {
          color: #f8971d;
          font-size: $f14;
          font-weight: bold;
        }
        .overdue span {
          color: #e21d26;
          font-size: $f14;
          font-weight: bold;
        }
      }

      // .week-chart {
      // }
    }

    .small-spinner {
      width: 100%;
      @include flex-center;
      margin-bottom: 10px;
    }
    .group-list-container {
      max-height: 300px;
      overflow: auto;
    }
    .ungrouped-container {
      mat-table {
        padding: 0px;
        margin-bottom: 52px;
        border-radius: 4px;
      }
    }

    // .started {
    //   color: #00a3ff;
    //   font-weight: bold;
    //   font-size: $f14;
    // }
    // .completed {
    //   color: $primary-color;
    //   font-weight: bold;
    //   font-size: $f14;
    // }

    .activity-progress {
      border-radius: 4px;
      ::ng-deep .mat-progress-bar-background {
        fill: #f2f2f2;
      }

      ::ng-deep .mat-progress-bar-buffer {
        background-color: #f2f2f2;
      }

      ::ng-deep .mat-progress-bar-fill::after {
        background-color: #00a3ff;
      }
      &.done {
        ::ng-deep .mat-progress-bar-fill::after {
          background-color: #aaadb8;
        }
      }
    }
    .over-due {
      font-size: $f14;
      color: #e21d26;
    }

    mat-card {
      margin: 4px 0px;
      padding: 16px 0px;
      mat-label {
        font-size: $f14;
      }

      mat-card-content {
        padding: 0px 16px;
        svg {
          margin-left: 8px;
        }
      }
    }
    b {
      margin-bottom: 8px;
    }
  }
  ::ng-deep .mat-menu-panel {
    .mat-menu-item {
      padding: 0 24px !important;

      .mat-checkbox-layout .mat-checkbox-label {
        margin-right: 35px;
      }
      .material-icons {
        color: $light-gray;
      }
      .mat-checkbox-frame,
      .mat-radio-outer-circle {
        border-color: $light-gray;
      }

      &.disabled-item {
        color: $main-color;
        font-size: $f16;
        font-weight: bold;
        cursor: none;
        pointer-events: none;
      }
    }
  }

  xcdrs-activities-group {
    margin: 8px 0px;
  }
}
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex-center;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.7);
}


/*------------------rtl-css--------------------*/
::ng-deep body.rtl xcdrs-breadcrumbs {
  display: flex !important;
}
::ng-deep body.rtl [_nghost-serverApp-c120] > *:not(:last-child)::after {
  transform: rotate(179deg);
}
::ng-deep body.rtl .followed-user-details-container .mine-activities-conatiner .actions-container .defult-filter {
  right: 17px !important;
  LEFT: AUTO;
}
/*------------------rtl-css--------------------*/