@import 'src/assets/styles/css3-mixins.scss';

.pd-attachments-container{margin:0;}
.grey-header{padding:16px 20px 6px;display: flex;justify-content: space-between;align-items: center;
  .text{color: var(--grish-color);font-size: 16px;text-transform: uppercase;line-height:22px;}
  a{color: var(--primary-color);cursor: pointer;font-size: 14px;
    @include respond-to(tablet){font-size: 12px;}
  }
}
.no-text{display: none;}
.upload-button{padding:0;border-top:1px solid #f6f7f9;@include border-radius(0);
  .addrow{display: flex;cursor: pointer;padding:12px 16px;
    .icon{color: #6cb33f;margin-right:7px;transform: rotate(45deg);}
    .text{color: #6cb33f;font-size: 16px;font-weight: 600;padding-top: 5px;}
  }
}

.signature-body{padding:12px;}
.signature-box{border-radius: 4px;background-color: #f6f8f8;padding:16px;margin:10px 0;
  &:first-child{margin-top:0;}
  .signature-area{border:2px solid var(--primary-color);padding:15px;border-radius: 5px 5px 0 5px;position: relative;border-right: none;}
  .signature-by{font-size: 14px;position: absolute;top: -10px;left:7px;width:100%;background: #f6f8f8;color: var(--primary-color);padding:0 8px;box-sizing: border-box;}
  .signature-style{font-family: 'Rouge Script';font-size: 32px;padding-top:12px;}
}

.no-attachment{padding:4px 20px 12px;display: block;font-size: 14px;color: var(--grish-color);
  a{font-size: 14px;}
}
.no-link{display: flex;align-items: center;font-size: 14px;font-weight: bold;
  mat-icon{margin-right:6px;font-size:22px;width:22px;height:22px;}
}
.count0{background-image: url('/assets/images/empty_signature_icon.svg');background-repeat: no-repeat;background-position-x: calc(100% + 16px);background-position-y: bottom;
  .grey-header{display: none;}
  .no-text{color: var(--grish-color);display: flex;justify-content: space-between;border-bottom: 1px solid #f6f7f9;padding:16px 20px 6px;align-items: center;font-size: 16px;text-transform: uppercase;line-height:22px;border:none;}
}
