@import "src/app/theme/styles/variables";
mat-card {
  box-shadow: 0 10px 20px 0 rgba(198, 201, 210, 0.25) !important;

  mat-card-header {
    .mat-card-title:first-letter {
      text-transform: capitalize;
    }
  }

  mat-label {
    color: $sub-title-color;
  }
}
