@import "src/app/esp-activity-module/theme/styles/variables";
@import "src/app/esp-activity-module/theme/styles/mixins";

.owl-theme {
  .owl-nav {
    .owl-next, .owl-prev {
      height: 32px;
      background: var(--primary-color);

      &:hover {
        background: var(--primary-color);
      }
    }
  }
}

