@import "../../../theme/styles/variables";
@import "../../../theme/styles/mixins";
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @include flex-center;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.7);
}
