<div *ngIf="loading" style="display:flex;justify-content: center; align-items: center;">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div class="{{list.length===0 ? 'not-found' : ''}}" *ngIf="!loading">
  <div class="header">
    <div class="text">Acceptance Criteria</div>
    <a (click)="toggleAll()">View all ({{totalrecord}})</a>
  </div>
  <div class="criteria-list" *ngIf="list.length!==0">
    <li *ngFor="let criteria of list" (click)="toggleEdit(criteria)">
      <div [innerHtml]="criteria.description"></div>
    </li>
  </div>
  <div class="no-tags" *ngIf="!showForm" (click)="toggleForm()">
    <a class="link no-link">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Add new Criteria</span>
    </a>
  </div>
  <div *ngIf="showForm" class="description-form">
    <div class="df-inputs">
      <mat-form-field>
        <mat-label>Criteria</mat-label>
        <textarea matInput type="text" color="xui" class="xui" [formControl]="criteria"></textarea>
      </mat-form-field>
    </div>
    <div class="df-buttons">
      <button (click)="toggleForm()" class="defaultButton outlined">Discard</button>
      <button (click)="submitForm()">Save</button>
    </div>
  </div>
</div>


<div class="comment-popup" *ngIf="editPopup">
  <div class="comment-overlay">
    <div class="co-header">
      <div class="co-close" (click)="toggleEdit()"><mat-icon aria-hidden="false">close</mat-icon></div>
      <div class="co-title">Acceptance Criteria</div>
    </div>
    <div class="co-body {{type}}">
      <div *ngIf="popupLoading" style="display:flex;height:128px;justify-content:center;align-items: center;">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="!popupLoading" class="description-form">
        <div class="df-inputs">
          <mat-form-field>
            <mat-label>Criteria</mat-label>
            <textarea matInput type="text" color="xui" class="xui" [formControl]="criteria"></textarea>
          </mat-form-field>
        </div>
        <div class="df-buttons">
          <button (click)="toggleEdit()" class="defaultButton outlined">Discard</button>
          <button (click)="submitEditForm()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="comment-popup" *ngIf="allPopup">
  <div class="comment-overlay">
    <div class="co-header">
      <div class="co-close" (click)="toggleAll()"><mat-icon aria-hidden="false">close</mat-icon></div>
      <div class="co-title">Acceptance Criteria ({{totalrecord}})</div>
    </div>
    <div class="co-body {{type}}">
      <div *ngIf="popupLoading" style="display:flex;height:128px;justify-content:center;align-items: center;">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <div class="comment-scrollable" *ngIf="!popupLoading && fullList.length>0">
        <div class="criteria-list" *ngIf="fullList.length!==0">
          <li *ngFor="let criteria of fullList">
            <div [innerHtml]="criteria.description"></div>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
