@import "../../../theme/styles/variables";
@import "../../../theme/styles/mixins";

.add-dialog-container {
  max-width: 100%;
  .content {
    margin: 0px 174px;
    &.xs,
    .sm {
      margin: 0px;
    }
    h1 {
      margin-top: 0px;
      margin-bottom: 12px;
    }

    .form-type-lbl {
      text-transform: capitalize;
    }
    .info-text {
      border-radius: 4px;
      background-color: #f6f7f9;
      padding: 12px;
      line-height: 1.71;
      margin: 24px 0px;
      svg {
        margin-right: 8px;
      }
    }

    .action-btns {
      .action-btn {
        height: 48px;
      }
      margin-bottom: 24px;
      &.xs,
      .sm {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 24px;
        background: #fff;
        margin-bottom: 0px;
      }
    }
    .add-form {
      margin: 20px 0px 16px 0px;
      mat-form-field {
        margin-bottom: 24px;
        mat-icon {
          color: $main-color;
          margin-right: 10px;
        }
      }

      mat-form-field.select-with-chips {
        margin-bottom: 24px;

        ::ng-deep .mat-form-field-wrapper {
          height: auto !important;
          min-height: 50px;

          padding-bottom: 10px;
          ::ng-deep .mat-form-field-infix {
            ::ng-deep .mat-select-arrow-wrapper {
              vertical-align: top;
              .mat-select-arrow {
                visibility: hidden;
              }
            }
          }
        }
      }
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      .notes-field {
        margin-bottom: 0px;
        mat-label {
          font-size: $f16;
          color: #94959c;
        }
        ::ng-deep .mat-form-field-infix {
          padding: 6px 0px;
          margin-left: 10px;
        }
      }

      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }

      // mat-select {
      //   ::ng-deep .mat-select-arrow-wrapper {
      //     ::ng-deep .mat-select-arrow {
      //       display: none;
      //     }
      //   }
      // }

      mat-label {
        font-size: $f14;
        color: $gray;
        &:first-letter {
          text-transform: uppercase;
        }
      }

      .due-date-field {
        ::ng-deep .mat-form-field-wrapper {
          ::ng-deep .mat-form-field-suffix {
            mat-datepicker-toggle {
              .mat-icon-button {
                margin-right: $f14;
                svg {
                  width: 24px;
                  height: 24px;
                  fill: $main-color;
                  margin-top: -14px;
                }
              }
            }
          }
        }
      }

      .direction-field {
        margin-bottom: 50px;
      }

      .time-field {
        ::ng-deep .mat-form-field-wrapper {
          width: 100%;
        }
        ::ng-deep .mat-input-element {
          text-transform: lowercase;
        }
        .trigger {
          margin-top: -6px;
          margin-right: -5px;
        }
      }

      .for-field {
        margin-top: 16px;
        margin-bottom: 24px;
        button {
          width: 180px;
          height: 48px;
          border-radius: 0px;
          margin-top: 8px;
          background-color: #fff;
          &:first-of-type {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
          }

          &:last-of-type {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }

          &.active {
            background-color: $primary-color;
            color: #fff;
            font-weight: bold;
          }
        }
      }

      &.xs,
      .sm {
        margin: 20px 0px 70px 0px;
      }
    }
  }

  mat-icon {
    color: $gray;
  }

  .mat-chip.mat-standard-chip {
    background-color: #f2f2f2;
    color: #9e9e9e;
    border-radius: 4px;
    text-transform: capitalize;

    &.hidden {
      display: none;
    }
  }
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;
  margin-left: -15em;
}

::ng-deep .cdk-overlay-pane .participant-autocomplete {
  ::ng-deep mat-option mat-checkbox {
    ::ng-deep .mat-checkbox-frame {
      border-width: 1px;
      border-color: $light-gray !important;
    }
    ::ng-deep .mat-checkbox-background,
    ::ng-deep .mat-checkbox-label,
    ::ng-deep .mat-checkbox-frame {
      width: 20px;
      height: 20px;
    }

    ::ng-deep .mat-checkbox-label {
      margin-left: 4px;
      font-size: $f14;
    }

    .text-highlight {
      color: $primary-color;
    }
  }
}

/*----Arabc-Language----*/

::ng-deep body.rtl .add-dialog-container .close-div {
  justify-content: flex-start !important;
}
::ng-deep body.rtl .add-dialog-container .content h1.mat-dialog-title.title {
  text-align: right;
}
::ng-deep body.rtl .add-dialog-container .info-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse !important;
}
::ng-deep body.rtl .add-dialog-container .call-text {
  text-align: right;
}
::ng-deep body.rtl .add-dialog-container .info-text .call-icon svg {
  margin-right: 0 !important;
  margin-left: 10px;
}
::ng-deep body.rtl .mat-form-field.custom .mat-form-field-label {
  left: auto !important;
  right: 5px;
}
::ng-deep body.rtl .mat-form-field.custom .mat-form-field-wrapper {
  padding-left: 5px !important;
}
::ng-deep body.rtl .mat-form-field-label-wrapper {
  top: -1.2em !important;
}

::ng-deep body.rtl .add-dialog-container .mat-form-field-empty mat-label {
  float: right;
}
::ng-deep body.rtl .add-dialog-container .mat-form-field-suffix {
  position: absolute !important;
  left: 0;
  padding-top: 1.1rem;
  padding-left: 10px;
}
::ng-deep body.rtl .add-dialog-container .mat-form-field-infix input {
  text-align: right;
  margin-right: 12px;
}
::ng-deep body.rtl .add-dialog-container .log-effort-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
::ng-deep body.rtl .add-dialog-container .log-effort-btn button {
  max-width: 120px;
}
::ng-deep body.rtl .add-dialog-container button.advanced-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
}
::ng-deep body.rtl .mat-form-field.custom .mat-form-field-infix .trigger {
    position: absolute;
    right: auto;
    left: 6px;
}
::ng-deep body.rtl .add-dialog-container .action-btns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse !important;
}
::ng-deep body.rtl .add-dialog-container  .upload-attachments-btn button.upload-btn {
  justify-content: flex-end !important;
}
::ng-deep body.rtl .add-dialog-container p.sub-title {
  text-align: right;
}

::ng-deep body.rtl .add-dialog-container .info-text div {
  text-align: right;
}

::ng-deep body.rtl .add-dialog-container .mat-form-field-appearance-outline .mat-form-field-label {
  text-align: right;
}
::ng-deep body.rtl .add-dialog-container .mat-form-field-infix textarea#notes {
  text-align: right;
}
::ng-deep body.rtl .add-dialog-container .mat-form-field-infix {
  margin: 0 !important;
}
::ng-deep body.rtl .add-dialog-container .rtl-label {
  text-align: right;
}
::ng-deep body.rtl .add-dialog-container .rtl-btn-reverse {
  flex-direction: row-reverse !important;
}
.rtl-btn-reverse button:nth-child(1) {
  border-radius: 0px 5px 5px 0px !important;
}
.rtl-btn-reverse button:nth-child(2) {
  border-radius: 5px 0px 0px 5px !important;
}
::ng-deep body.rtl .notes-label {
  background: #ffffff;
  width: auto;
  padding:0 4px;
}